<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/menu-footer.css">
    <link rel="stylesheet" href="./css/inicio.css">

    <script src="../controllers/jquery-3.6.3.js"></script>
    <script src="../controllers/menu-footer.js"></script>
    <script src="../controllers/inicio.js"></script>

    <!-- Menu-->  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <!-- Footer--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    <header></header>  
    
    <div id="container">
        <div class="info">
            <h3>¿Quiénes somos?</h3>
            <p>Bienvenido a "Voluntarios por el mundo", la página intermediaria perfecta para aquellos que quieren hacer una diferencia en el mundo a través del voluntariado. Si estás buscando oportunidades de voluntariado que se adapten a tus intereses y habilidades, o si eres una empresa que busca voluntarios comprometidos y apasionados para tus proyectos de responsabilidad social, has venido al lugar correcto. En "Voluntarios por el mundo", conectamos a personas que quieren ayudar con empresas que necesitan ayuda, facilitando así el proceso de voluntariado y maximizando el impacto positivo que podemos hacer juntos. Estamos comprometidos con nuestra misión de hacer que el voluntariado sea accesible y gratificante para todos, ¡y esperamos ayudarte a encontrar la oportunidad perfecta para ti!</p>
        </div>

        <div class="info">
            <h3>Marca la diferencia</h3>
            <p>Si estás buscando una forma de hacer una diferencia positiva en tu comunidad, el voluntariado es una excelente manera de lograrlo. Al unirte a nuestro equipo de voluntarios, tendrás la oportunidad de contribuir directamente a mejorar la vida de las personas que te rodean. Ya sea que desees ayudar a niños que necesitan atención y educación, apoyar a personas mayores que necesitan compañía, o contribuir a proyectos que protejan el medio ambiente, hay una causa para cada persona interesada en el voluntariado.</p>
        </div>

        <div class="info">
            <h3>Inicia sesión</h3>
            <p></p>
        </div>
    </div>
    
    <footer></footer>
</body>
</html>